<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Animals of the World: A Visual Guide</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<h1>Animals of the World: A Visual Guide</h1>
		<hr>

		<%# 
		Put the specific route template here!
		%>
		<%= yield %>

		<hr>
		<footer>
			&copy; Round Boys Productions 2019
		</footer>
	</body>
</html>